<nav style="width: 250px; height: 100vh; background: #007bff; color: white; position: fixed; top: 0; left: 0; padding: 20px; display: flex; flex-direction: column; justify-content: space-between;">
    <div>
      <h4 style="text-align:center; font-weight: bold;">Loan Management</h4>
      <ul style="list-style: none; padding: 0; margin-top: 20px;">
        <li>
          <a routerLink="/dashboard" style="display: block; padding: 10px; color: white; text-decoration: none; border-radius: 5px; ">
            <i class="bi bi-speedometer2"></i> Dashboard
          </a>
        </li>

        <li>
          <a routerLink="/customer" style="display: block; padding: 10px; color: white; text-decoration: none; border-radius: 5px;">
            <i class="bi bi-people-fill"></i> Customers
          </a>
        </li>

        <li>
          <a routerLink="/loan" style="display: block; padding: 10px; color: white; text-decoration: none; border-radius: 5px;">
            <i class="bi bi-cash-coin"></i> Loans
          </a>
        </li>

        <li>
          <a routerLink="/repayments" style="display: block; padding: 10px; color: white; text-decoration: none; border-radius: 5px; background: white; color: #007bff; font-weight: bold;">
            <i class="bi bi-wallet2"></i> Repayments
          </a>
        </li>
        
      </ul>
    </div>
    <button (click)="logout()" style="width: 100%; padding: 10px; border: none; background: white; color: #007bff; font-weight: bold; border-radius: 5px;">
      <i class="bi bi-box-arrow-right"></i> Logout
    </button>
  </nav>